# Terraform state and generated configurations

/configurations/.terraform.tfstate.lock.info
/configurations/terraform.tfstate
/configurations/terraform.tfstate.backup
/prometheus/.terraform/


# Various IDEs
.idea/
